{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>Minhas finanças</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'style_sidebar.css' %}">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    {% block stylesheet %}
    {% endblock stylesheet %}
  </head>
  <body>
    <div class="wrapper d-flex align-items-stretch">
      <nav id="sidebar">
        <div class="custom-menu">
          <button type="button" id="sidebarCollapse" class="btn btn-primary">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
          </button>
        </div>
        <div class="p-4 pt-5">
          <h1><a href="index.html" class="logo">Minhas finanças</a></h1>
          <ul class="list-unstyled components mb-5">
          <!--<li class="active">
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
        <li>
        <a href="#">Home 1</a>
        </li>
        <li>
        <a href="#">Home 2</a>
        </li>
        <li>
        <a href="#">Home 3</a>
        </li>
        </ul>
        </li>-->
            <!--<li>
              <a href="#">Home</a>
            </li>-->
            <li>
              <a href="{% url 'cashflow:home' %}" data-toggle="" aria-expanded="false" class="dropdown-toggle">Fluxo de caixa</a>
              <ul class="list-unstyled" id="pageSubmenu">
                <li>
                <a href="{% url 'cashflow:category_list' %}">Categorias</a>
                </li>
                <li>
                <a href="{% url 'cashflow:inflow_list' %}">Entradas</a>
                </li>
                <li>
                <a href="{% url 'cashflow:outflow_list' %}">Saídas</a>
                </li>
                <!--
                <li>
                <a href="#">Report</a>
                </li>
                <li>
                <a href="#">Simulator</a>
                </li>-->
              </ul>
            </li>
            <li>
              <a href="{% url 'cashflow:report' %}">Relatório</a>
            </li>
            <li>
              <a href="{% url 'account:user_details' %}">Minhas informações</a>
            </li>
            <!--<li>
              <a href="#">Simulator</a>
            </li>-->
            <li>
              <a href="{% url 'account:sign_out' %}">Sair</a>
            </li>
          </ul>

        <div class="footer"></div>
        </div>
      </nav>

      <div id="content" class="p-4 p-md-5 pt-5">
        <!--<h2 class="mb-4">Bem-vindo, {{ request.user }}!</h2>-->

        {% block content %}
        {% endblock %}

    </div>

    <script src="{% static 'jquery.min.js' %}" type="5e4892f52e5debf832742ce5-text/javascript"></script>
    <script src="{% static 'popper.js' %}" type="5e4892f52e5debf832742ce5-text/javascript"></script>
    <script src="{% static 'bootstrap.min.js' %}" type="5e4892f52e5debf832742ce5-text/javascript"></script>
    <script src="{% static 'main.js' %}" type="5e4892f52e5debf832742ce5-text/javascript"></script>
    <script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="5e4892f52e5debf832742ce5-|49" defer=""></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    {% block scripts %}
    {% endblock scripts %}
  </body>
</html>