{% extends "base.html" %}

{% block content %}
<div class="col-md-12">

	<div class="card">
      <div class="card-header">
        Visão do mês
      </div>
      <div class="card-body">
        <p>Seu balançõ neste mês é <b>$ {{ balance }}</b> entre suas entradas $ {{ inflow_amount }} e saídas $ {{ outflow_amount }} lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor
      	lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor</p>
      </div>
  </div>	
</div>
<div class="col-md-4">

	<div class="card">
      <div class="card-header">
        Suas categorias
      </div>
      <div class="card-body">
      	<p>lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor</p>
      </div>
  </div>	
</div>
<div class="col-md-4">

	<div class="card">
      <div class="card-header">
        Ultima entrada
      </div>
      <div class="card-body">
      	<p>lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor</p>
      </div>
  </div>	
</div>
<div class="col-md-4">

	<div class="card">
      <div class="card-header">
        Ultima saída
      </div>
      <div class="card-body">
      	<p>lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor</p>
      </div>
  </div>	
</div>

{% endblock %}