{% extends "base.html" %}

{% block content %}
    <div class="container-fluid container-home">
    <div class="row">
      <div class="col-md-4">
        <h1>Minhas Entradas</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <a class="btn btn-primary" href="{% url 'cashflow:inflow_create' %}" role="button">Criar Entrada</a>
      </div>
    </div>
  </div>
    {% for message in messages %}
        {% if message %}
            <div class="alert alert-info" role="alert">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Categoria</th>
          <th scope="col">Registrada em</th>
          <th scope="col">Registrada por</th>
          <th scope="col">Valor $</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
    {% if inflows %}
        {% for inflow in inflows %}
        <tr>
            <td><a href="{% url 'cashflow:inflow_detail' inflow.id %}">{{ inflow.name }}</a>
            </td>
            <td>{{ inflow.category }}</td>
            <td>{{ inflow.registered_at|date:"d/m/Y" }}</td>
            <td>{{ inflow.registered_by }}</td>
            <td>{{ inflow.value }}</td>
            <td>
              <button type="button" class="btn btn-outline">
                <a href="{% url 'cashflow:inflow_detail' inflow.id %}">
                  <i class="glyphicon glyphicon-eye-open"></i>
                </a>
              </button>
              <button type="button" class="btn btn-outline">
                <a href="{% url 'cashflow:inflow_edit' inflow.id %}">
                  <i class="glyphicon glyphicon-edit"></i>
                </a>
              </button>
              <button type="button" class="btn btn-outline">
                <a href="{% url 'cashflow:inflow_delete' inflow.id %}">
                  <i class="glyphicon glyphicon-trash"></i>
                </a>
              </button>
            </td>
        </tr>
        {% endfor %}
    {% else %}
        <td>Entradas não foram encontradas para o mês atual.</td>
    {% endif %}
      </tbody>
    </table>
{% endblock %}