{% extends "base.html" %}

{% block content %}
<div class="card">
    <div class="card-header">
      Editar Saída
    </div>
    <div class="card-body">
      <ul>
        <li>{{ outflow.name }}</li>
        <li>{{ outflow.category }}</li>
        <li>{{ outflow.registered_at|date:"d/m/Y" }}</li>
        <li>{{ outflow.registered_by }}</li>
        <li>{{ outflow.value }}</li>
      </ul>
      <form action="{% url 'cashflow:outflow_update' outflow.id %}" method="post">
        {% csrf_token %}
        <label>Nome:</label>
        <input type="text" name="name" id="name" value="{{ outflow.name }}" required="true">
        <!--<br>-->
        <label for="categories">Escolha uma categoria:</label>

        <select name="categories" id="categories" required="true">
          <option value=""></option>
          {% for category in categories %}
            <option value="{{ category.id }}">{{category}}</option>
          {% endfor %}
        </select>
        <!--<br>-->
        <label>Data:</label>
        <input type="date" name="reg_date" id="reg_date" value="{{ outflow.registered_at }}"  required="true">
        <!--<br>-->
        <label>Valor $:</label>
        <input type="number" step="any" name="value" id="value" value="{{ outflow.value }}"  required="true">
        <!--<br>-->
        <input class="btn btn-info" type="submit" value="Salvar">
      </form>
    </div>
</div>
{% endblock %}