{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta author="@eduardoungaratto">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'global.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

    <title>Redefinição de senha</title>
  </head>
  <body>
    <div class="container-fluid container-login">
      <div class="card mx-auto card-login" style="width: 25rem;">
        <div class="card-body shadow-sm">

<div class="row justify-content-center">
    <div class="col-md-12">

            <section id="loginForm" class="card-body">
                <form action="request_reset_password" method="post" class="form-horizontal">
                    {% csrf_token %}
                    <h4>Redefinir minha senha</h4>
                    <hr />
                    {% if response %}
                        <p class="validation-summary-success">{{ response }}</p>
                    {% endif %}
                    <div class="form-group">
                        <label for="email" class="col-md-10 control-label">Email</label>
                        <div class="col-md-12">
                            <input type="text" name="email" class="form-control" placeholder="Digitar email aqui" maxlength="254" required="" id="id_email"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="hidden" name="next" value="/" />
                            <input type="submit" value="Solicitar link para redefinição de senha" class="btn btn-primary" id="submete_login"/>
                        </div>
                </div>
                    {% if form.errors %}
                        <p class="validation-summary-errors">Não foi possível redefinir sua snhea, por favor, verifique o email informada</p>
                    {% endif %}
                </form>
            </section>

    </div>
</div>

        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>